.header #header__logoSite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header img {
  width: 11rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header #presentation {
  text-align: center;
  padding-top: 2rem;
}

.header #bouton__explorer {
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: 0;
  padding: 0.80rem 1.4rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 2rem;
  color: white;
  background-image: linear-gradient(174deg, #ff79da 18%, #9356dc 86%);
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px 1px #b1acac;
          box-shadow: 0px 2px 5px 1px #b1acac;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header #bouton__explorer:hover {
  -webkit-box-shadow: 0px 4px 8px 1px #696565;
          box-shadow: 0px 4px 8px 1px #696565;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-filter: brightness(108%);
          filter: brightness(108%);
}

#header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F3F3F3;
  height: 5rem;
  z-index: 1;
}

#header__menu .fa-arrow-left {
  position: absolute;
  left: 5%;
  margin-top: 2.4rem;
  font-size: 1.3rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#header__menu .fa-arrow-left:hover {
  color: #9356dc;
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

#header__menu img {
  width: 11rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header__menu img:hover {
  -webkit-filter: invert(25%);
          filter: invert(25%);
}

#localisation {
  background: #F3F3F3;
  -webkit-box-shadow: 5px 12px 5px -10px #d2cccc inset;
          box-shadow: 5px 12px 5px -10px #d2cccc inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: large;
  font-weight: bolder;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

#localisation input[type=search] {
  border: 0;
  font-size: 1rem;
  width: 10rem;
  font-family: sans-serif;
  font-weight: bolder;
  outline: none;
  background-color: transparent;
}

#localisation #localisation__texte {
  margin-left: 1rem;
}

#localisation:hover .fa-map-marker-alt {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
  color: #9356dc;
}

.fa-map-marker-alt {
  margin-left: 2.5rem;
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#presentation {
  background: #FAFAFA;
}

#presentation h1 {
  font-family: 'Roboto';
  margin-top: 0rem;
  font-size: 1.6rem;
}

#presentation #sousTitre {
  font-size: 1.05rem;
  color: #666565;
}

#section_1 h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.fonctionnement {
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.fonctionnement .fonctionnement__block {
  background-color: #F6F6F6;
  height: 4.5rem;
  width: 90%;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 2px 5px 10px 0px #e4e0e0;
          box-shadow: 2px 5px 10px 0px #e4e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fonctionnement .fonctionnement__block .fa-mobile-alt {
  margin-right: 1rem;
  margin-left: 1.5rem;
  color: #7e7e7e;
}

.fonctionnement .fonctionnement__block .fa-list-ul {
  margin-right: 1rem;
  color: #7e7e7e;
  margin-left: 1.5rem;
}

.fonctionnement .fonctionnement__block .fa-store {
  margin-right: 1rem;
  color: #7e7e7e;
  margin-left: 1.5rem;
}

.fonctionnement .fonctionnement__block:hover {
  background: #f1e6fd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fonctionnement .fonctionnement__block:hover .fas {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

.fonctionnement {
  counter-reset: compteListe;
}

.fonctionnement__block::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  left: 3%;
}

.fonctionnement__block:hover::before {
  -webkit-animation: bounce 1.5s ease;
          animation: bounce 1.5s ease;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes bounce {
  0%, 25%, 55%, 75%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  65% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  85% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes bounce {
  0%, 25%, 55%, 75%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  65% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  85% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

.article {
  background: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__titre {
  background: #F3F3F3;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  padding-left: 1rem;
}

.restaurant {
  background-color: #F3F3F3;
  width: 90%;
  min-width: 35%;
  max-width: 90%;
  height: 16rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 0px 10px 0px #d2cccc;
          box-shadow: 0px 0px 10px 0px #d2cccc;
  margin-bottom: 5%;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.restaurant .restaurant__img {
  height: 11rem;
  width: 100%;
  margin: 0;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.restaurant .restaurant__badge {
  background-color: #99e2d0;
  color: #1b5849;
  position: relative;
  position: absolute;
  border-radius: 0.2rem;
  top: 1rem;
  right: 0.75rem;
  padding: 0.5rem;
}

.restaurant .restaurant__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant .restaurant__footer .restaurant__nom {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.restaurant .restaurant__footer .restaurant__lieu {
  margin-top: 0.5rem;
}

.restaurant .restaurant__footer .restaurant__coeurPlein {
  margin-right: 1rem;
}

.restaurant:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0px 0px 20px #9356dc;
          box-shadow: 0px 0px 20px #9356dc;
}

.restaurant4 {
  margin-bottom: 4rem;
}

#img__palette img {
  height: 40rem;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  top: -60px;
  z-index: -1;
}

#article__menu1 {
  position: relative;
  margin-top: -120px;
  background-color: #F3F3F3;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin-bottom: 0rem;
  height: auto;
}

#article__menu1 #menu1__titre {
  font-family: 'Shrikhand';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  margin-top: 0.5rem;
  padding-top: 2rem;
  font-size: 2rem;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#article__menu1 #menu1__titre h1 {
  font-size: 1.7rem;
  margin-left: 4%;
}

#article__menu1 #menu1__titre .restaurant__coeurPlein {
  margin-right: 4%;
}

.carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.carte h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.menu {
  width: 23rem;
}

.carte h2 {
  margin-left: 4%;
  margin-top: 3rem;
  font-size: 1.1rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu_plat {
  background-color: white;
  height: 4.5rem;
  width: 94%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding-top: 0rem;
  -webkit-box-shadow: 2px 5px 10px 0px #e4e0e0;
          box-shadow: 2px 5px 10px 0px #e4e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.menu .menu_plat .plat__prix {
  margin-right: 1rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  margin-left: 0rem;
  font-weight: bolder;
}

.menu .menu_plat .plat__prix p {
  font-weight: bolder;
  color: black;
}

.menu .menu_plat h3 {
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0rem;
  margin-bottom: 0.4rem;
  margin-left: 0.8rem;
  padding: 0rem;
}

.menu .menu_plat p {
  cursor: pointer;
  font-size: 0.85rem;
  margin-left: 0.8rem;
  margin-top: 0rem;
  padding-top: 0rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #615e5e;
}

.plat__footer {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#article__menu1 h2::after {
  content: "";
  border-bottom: 3px solid  #99E2D0;
  display: block;
  width: 3rem;
  margin-top: 0.5rem;
}

.menu_plat {
  position: relative;
  overflow: hidden;
}

.menu_plat::after {
  content: "";
  background: #99E2D0;
  position: absolute;
  right: 0%;
  -webkit-transform: translate(85%);
          transform: translate(85%);
  z-index: 1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 0%;
  height: 100%;
}

.menu_plat:hover::after {
  width: 100%;
}

@media (min-width: 1101px) and (max-width: 1400px) {
  .fonctionnement {
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fonctionnement .fonctionnement__block {
    width: 25%;
  }
  .fonctionnement__block::before {
    position: relative;
    left: -0.7rem;
  }
  @-webkit-keyframes bounce {
    0%, 25%, 55%, 75%, 100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    45% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    65% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    85% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  @keyframes bounce {
    0%, 25%, 55%, 75%, 100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    45% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    65% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    85% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .article .restaurant {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 43%;
    height: 16rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 1.5rem;
  }
  .footer #footer__logoSite {
    padding-bottom: 1.5rem;
    border-right: #0f0e0e 2px solid;
  }
  .footer .footer__liste {
    padding-left: 1rem;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .fonctionnement {
    height: 15rem;
  }
  .fonctionnement .fonctionnement__block {
    width: 38%;
  }
  .fonctionnement__block::before {
    position: relative;
    left: -0.7rem;
  }
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .article .restaurant {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 43%;
    height: 16rem;
  }
  .article .restaurant4 {
    min-height: 16rem;
    margin-top: 1.3rem;
  }
  .carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .menu {
    width: 35rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-right: 3rem;
  }
}

.footer__lien:hover .fas {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

.fas {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.fas:hover {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

.footer {
  background-color: #353535;
  height: 13rem;
}

.footer #footer__logoSite {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 15rem;
  margin-left: 6%;
}

.footer img {
  width: 60%;
  margin-top: 0;
  padding-top: 2rem;
}

.footer .footer__liste {
  margin-left: 6%;
}

.footer .footer__lien {
  color: white;
  line-height: 1.5rem;
}

.footer .footer__lien:hover {
  color: #9356dc;
  line-height: 1.5rem;
}

.footer .fa-utensils {
  margin-right: 1rem;
}

.footer .fa-hands-helping {
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bouton .bouton__commander {
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: 0;
  padding: 0.80rem 1.4rem;
  font-weight: 500;
  font-size: 1.1rem;
  width: 10rem;
  border-radius: 2rem;
  color: white;
  background-image: linear-gradient(174deg, #ff79da 18%, #9356dc 86%);
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px 1px #b1acac;
          box-shadow: 0px 2px 5px 1px #b1acac;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bouton .bouton__commander:hover {
  -webkit-box-shadow: 0px 4px 8px 1px #696565;
          box-shadow: 0px 4px 8px 1px #696565;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-filter: brightness(108%);
          filter: brightness(108%);
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -60px;
  width: 60px;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #99E2D0;
  color: white;
  z-index: 2;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.fa-check-circle {
  font-size: 25px;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu .menu_plat:hover .plat__prix {
  margin-right: 21%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu .menu_plat:hover .check {
  margin-right: 18%;
  z-index: 2;
}

.menu .menu_plat:hover .fa-check-circle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@-webkit-keyframes animationCoeur {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

@keyframes animationCoeur {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.restaurant__coeurPlein {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.7rem;
  padding: 0;
  -webkit-text-stroke: black 2px;
  color: transparent;
}

.restaurant__coeurPlein:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  background-size: 100% 100%;
  background-clip: content-box;
  -webkit-background-clip: text;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-animation: ease-in-out  animationCoeur 0.4s;
  animation: ease-in-out animationCoeur 0.4s;
  -webkit-text-stroke: #F3F3F3 0.5px;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: none;
  transition: none;
}

@-webkit-keyframes affichage {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes affichage {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.menu_plat1:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.menu_plat2:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu_plat3:nth-child(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.menu_plat4:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.menu_plat1 {
  opacity: 0;
  -webkit-animation: affichage 0.8s both;
          animation: affichage 0.8s both;
}

.menu_plat2 {
  opacity: 0;
  -webkit-animation: affichage 0.8s both;
          animation: affichage 0.8s both;
}

.menu_plat3 {
  opacity: 0;
  -webkit-animation: affichage 0.8s both;
          animation: affichage 0.8s both;
}

.menu_plat4 {
  opacity: 0;
  -webkit-animation: affichage 0.8s both;
          animation: affichage 0.8s both;
}

.loader {
  width: 100%;
  height: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: wait;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  -webkit-animation: oppacity 0.7s both;
          animation: oppacity 0.7s both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.loader .lettre {
  color: white;
  font-family: "Shrikhand" , sans-serif;
  font-size: 80px;
  margin-bottom: 150px;
  -webkit-animation: flash  1.2s linear infinite;
          animation: flash  1.2s linear infinite;
}

@-webkit-keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  90% {
    color: #99E2D0;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}

@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  90% {
    color: #99E2D0;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
}

@-webkit-keyframes oppacity {
  0% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: -4;
  }
}

@keyframes oppacity {
  0% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: -4;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
/*# sourceMappingURL=style.css.map */