html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration:none;
    color: black;
}

.header{

    #header__logoSite{
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    img{
    width: 11rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    }
    #presentation{
        text-align: center;
        padding-top: 2rem;
    }
    #bouton__explorer{
        margin-top: 1rem;
        margin-bottom: 3rem;
        border: 0;
        padding: 0.80rem 1.4rem;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 2rem;
        color: white;
        background-image:linear-gradient(174deg, rgba(255,121,218,1) 18%, rgba(147,86,220,1) 86%);
        cursor: pointer;
        box-shadow:0px 2px 5px 1px#b1acac;   
        transition: 0.4s;
    }
    #bouton__explorer:hover{ 
        box-shadow:0px 4px 8px 1px#696565;
        transition: 0.4s;
        filter: brightness(108%);
    }
}

#localisation{
    background: #F3F3F3;
    box-shadow: 5px 12px 5px -10px #d2cccc inset;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;

    input[type=search]{

    border: 0;
    font-size: 1rem;
    width: 10rem;
    font-family: sans-serif;
    font-weight: bolder;
    outline: none;
    background-color:transparent;
    }

    #localisation__texte{
        margin-left: 1rem;
    }
}
#localisation:hover{
    .fa-map-marker-alt{
        transform: scale(1.20) rotate(360deg);
        transition: transform 0.8s ease-out;
        color: #9356dc;
    }
}
.fa-map-marker-alt{
    margin-left: 2.5rem;
    transition: transform 0.8s ease-out;
}

#presentation{
    background:#FAFAFA;
    h1{
        font-family: 'Roboto';
        margin-top: 0rem;
        font-size: 1.6rem;
    }
    #sousTitre{
        font-size: 1.05rem;
        color: rgb(102, 101, 101);
    }
}
#section_1{
    h2{
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        margin-left: 1rem;
    }
}
.fonctionnement{
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;

    .fonctionnement__block{
        background-color: #F6F6F6;
        height: 4.5rem;
        width: 90%;
        margin-bottom: 1rem;
        border-radius: 1.5rem;
        box-shadow: 2px 5px 10px 0px #e4e0e0;
        display: flex;
        align-items: center;
        transition: 0.4s;

        .fa-mobile-alt{
            margin-right: 1rem;
            margin-left: 1.5rem;
            color: #7e7e7e;
        }
        .fa-list-ul{
            margin-right: 1rem;
            color: #7e7e7e;
            margin-left: 1.5rem;
        }
        .fa-store{
            margin-right: 1rem;
            color: #7e7e7e;
            margin-left: 1.5rem;
        }
    }
    .fonctionnement__block:hover{
        background:#f1e6fd ;
        transition: 0.4s;
        .fas{
            transform: scale(1.20) rotate(360deg);
            transition: transform 0.8s ease-out;
        }
    }
}
.footer__lien:hover{
        .fas{
        transform: scale(1.20) rotate(360deg);
        transition: transform 0.8s ease-out;
        }
}
.fas{
    transition: 0.8s;
}
.fas:hover{
    transform: scale(1.20) rotate(360deg);
    transition: transform 0.8s ease-out;
}
.fonctionnement{
    counter-reset: compteListe;
}
.fonctionnement__block::before{
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: 3%; 
}
.fonctionnement__block:hover::before{
    animation: bounce 1.5s ease;
    animation-delay: 0.25s;
}

@keyframes bounce{
    0%, 25%, 55%, 75%, 100%{
        transform: translateX(0);
    }
    45%{
        transform: translateX(-20px);
    }
    65%{
        transform: translateX(-10px);
    }
    85%{
        transform: translateX(-5px);
    }
}

.article{
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article__titre{
    background: #F3F3F3;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    padding-top: 3rem;
    padding-left: 1rem;
     
}


.restaurant{
    background-color: #F3F3F3;
    width: 90%;
    min-width: 35%;
    max-width: 90%;
    height: 16rem;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px 0px #d2cccc;
    margin-bottom: 5%;
    position: relative;
    transition: 1s;

    .restaurant__img{
        height: 11rem;
        width: 100%;
        margin: 0;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        object-fit: cover;
        position: relative;
    }
    .restaurant__badge{
        background-color: #99e2d0;
        color: #1b5849;
        position: relative;
        position: absolute;
        border-radius: 0.2rem;
        top: 1rem;
        right: 0.75rem;
        padding: 0.5rem;
    }
    .restaurant__footer{
        display: flex;
        align-items: center;
        height: 3rem;
        margin-left: 1rem;
        margin-top: 0.5rem;
        position: relative;
        justify-content: space-between;

        .restaurant__nom{
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
        }
        .restaurant__lieu{
            margin-top: 0.5rem;
        }
        .restaurant__coeurPlein{
            margin-right: 1rem;
        }
    }
}

.restaurant:hover{
    transform: scale(1.01);
    transition: 1s;
    box-shadow: 0px 0px 20px #9356dc;
}
.restaurant4{
    margin-bottom: 4rem;
}
.footer{
    background-color:#353535;
    height: 13rem;

    #footer__logoSite{
        filter: invert(100%);
        width:15rem; 
        margin-left: 6%;
    }
    img{
        width:60%;
        margin-top: 0;
        padding-top: 2rem;
    }
    .footer__liste{
        margin-left: 6%;
    }
    .footer__lien{
        color: white;
        line-height: 1.5rem;
    }
    .footer__lien:hover{
        color: #9356dc;
        line-height: 1.5rem;
    }
    .fa-utensils{
        margin-right: 1rem;
    }
    .fa-hands-helping{
        margin-right: 0.5rem;
    }
}

// STYLE MENUS

#header__menu{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    background-color: #F3F3F3;
    height: 5rem;
    z-index:1;

    .fa-arrow-left{
        position: absolute;
        left: 5%;
        margin-top: 2.4rem;
        font-size: 1.3rem;
        transition: 0.8s;
    }
    .fa-arrow-left:hover{
        color: #9356dc;
        transform: scale(1.20) rotate(360deg);
        transition: transform 0.8s ease-out;
    }

    img{
        width: 11rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: baseline;
        justify-content: center;
        }
    img:hover{
        filter:invert(25%);
    }
}

#img__palette{
    img{
        height: 40rem;
        width: 100%;
        position: relative; 
        object-fit:cover;
        height: 400px;
        top: -60px;
        z-index: -1;
    }
}

#article__menu1{
    position: relative;
    margin-top: -120px;
    background-color: #F3F3F3;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin-bottom: 0rem;
    height: auto;

    #menu1__titre{
        font-family: 'Shrikhand';
        display: flex;
        align-items: center;
        height: 3rem;
        margin-top: 0.5rem;
        padding-top: 2rem;
        font-size: 2rem;
        position: relative;
        justify-content: space-between;

        h1{
            font-size: 1.7rem;
            margin-left: 4%;
        }
        .restaurant__coeurPlein{
            margin-right: 4%;

        }
    }
}
@media (min-width: 1101px) and (max-width: 1400px){
    // INDEX1
    .fonctionnement{
        height: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        .fonctionnement__block{
            width: 25%;
        }
    }
    .fonctionnement__block::before{
        position: relative;
        left: -0.7rem; 
    }
    @keyframes bounce{
        0%, 25%, 55%, 75%, 100%{
            transform: translateY(0);
        }
        45%{
            transform: translateY(-20px);
        }
        65%{
            transform: translateY(-10px);
        }
        85%{
            transform: translateY(-5px);
        }
    }

    .article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .restaurant{
            display: inline-block;
            flex-direction: row;
            width: 43%;
            height: 16rem;
        }
    }

    // CARTE
    .carte{
        display: flex;
        justify-content:space-around;
        width: 100%;

        h2{
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
    }

    .menu{
        width: 23rem;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1.5rem;

        #footer__logoSite{
            padding-bottom: 1.5rem;
            border-right: rgb(15, 14, 14) 2px solid;
        }
        .footer__liste{
            padding-left: 1rem;
        }
    }
}


@media (min-width: 701px) and (max-width: 1100px){
    // INDEX1
    .fonctionnement{
        height: 15rem;
    
        .fonctionnement__block{
            width: 38%;
        }
    }
    .fonctionnement__block::before{
        position: relative;
        left: -0.7rem; 
    }
    .article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .restaurant{
            display: inline-block;
            flex-direction: row;
            width: 43%;
            height: 16rem;
        }
        .restaurant4{
            min-height: 16rem;
            margin-top: 1.3rem;
        }
    }
// CARTE
    .carte{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .menu{
        width: 35rem;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-right: 3rem;

    }
}

.carte{
    h2{
        margin-left: 4%;
        margin-top: 3rem;
        font-size: 1.1rem;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .menu_plat{
        background-color: white;
        height: 4.5rem;
        width: 94%;
        margin-bottom: 1rem;
        border-radius: 1rem;
        padding-top: 0rem;
        box-shadow: 2px 5px 10px 0px #e4e0e0;
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        cursor: pointer;

        .plat__prix{
            margin-right: 1rem;  
            transition: all 0.6s ease;
            margin-left: 0rem;
            font-weight: bolder;

            p{
                font-weight: bolder;
                color: black;
            }
        }
        h3{
            font-size: 1rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 0rem;
            margin-bottom: 0.4rem;
            margin-left: 0.8rem;
            padding: 0rem;

        }
        p{
            cursor: pointer;
            font-size: 0.85rem;
            margin-left: 0.8rem;
            margin-top: 0rem;
            padding-top: 0rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: rgb(97, 94, 94);
        }        
    }
}
.plat__footer{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#article__menu1{

    h2::after{
        content: "";
        border-bottom:  2px solid  #99E2D0;
        display: block;
        width: 3rem;
        margin-top: 0.5rem;
        display: none;     
    }
}

.bouton{
    display: flex;
    justify-content: center;

    .bouton__commander{
        margin-top: 2rem;
        margin-bottom: 3rem;
        border: 0;
        padding: 0.80rem 1.4rem;
        font-weight: 500;
        font-size: 1.1rem;
        width: 10rem;
        border-radius: 2rem;
        color: white;
        background-image:linear-gradient(174deg, rgba(255,121,218,1) 18%, rgba(147,86,220,1) 86%);
        cursor: pointer;
        box-shadow:0px 2px 5px 1px#b1acac;   
        transition: 0.4s;
    }
    .bouton__commander:hover{ 
        box-shadow:0px 4px 8px 1px#696565;
        transition: 0.4s;
        filter: brightness(108%);
    }
}
.menu_plat{
    position: relative;
    overflow: hidden;
}
.menu_plat::after{
    content: "";
    background: #99E2D0;
    position: absolute;
    right: 0%;
    transform:translate(85%);
    z-index: 1;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%;
}
.menu_plat:hover::after{
    width: 100%;
}

.check{
    display: flex;
    position: absolute;
    right: -60px;
    width: 60px;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #99E2D0;
    color: white;
    z-index: 2;
    transition: all 0.6s ease;
}
.fa-check-circle{
    font-size: 25px;
    transform: rotate(210deg);
    transition: all 0.6s ease;
}

.menu .menu_plat:hover .plat__prix{
    margin-right: 21%;
    transition: all 0.6s ease;
}
.menu .menu_plat:hover .check{
    margin-right: 18%;
    z-index: 2;
}
.menu .menu_plat:hover .fa-check-circle{
    transform: rotate(0deg);
    transition: all 0.6s ease;
}

// FOOTER



// LOADER

.loader{
    width: 100%;
    height: 100%;
    background: black;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: wait;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
    animation: oppacity 0.7s both;
    animation-delay: 2s;

    .lettre{
        color: white;
        font-family: "Shrikhand" , sans-serif;
        font-size: 80px;
        margin-bottom: 150px;
        animation: flash  1.2s linear infinite;
       
    }
}


@keyframes flash {
    0% {
        color: #9356DC;
        text-shadow: 0 0 7px #9356DC ;
    }
    90% {
        color: #99E2D0;
        text-shadow: none;
    }
    100% {
        color: #FF79DA ;
        text-shadow: 0 0 7px #FF79DA ;
    }
}
@keyframes oppacity {
    0% {
        opacity: 1;
        z-index: 999; 
    }   
    100% {
        opacity: 0;
        z-index: -4;
    }
}


.lettre:nth-child(1) {
    animation-delay:0.1s;
}
.lettre:nth-child(2) {
    animation-delay:0.2s;
}
.lettre:nth-child(3) {
    animation-delay:0.3s;
}
.lettre:nth-child(4) {
    animation-delay:0.4s;
}
.lettre:nth-child(5) {
    animation-delay:0.5s;
}
.lettre:nth-child(6) {
    animation-delay:0.6s;
}
.lettre:nth-child(7) {
    animation-delay:0.7s;
}
.lettre:nth-child(8) {
    animation-delay:0.8s;
}

// DÉCALAGE MENU

@keyframes affichage{

    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

.menu_plat1:nth-child(1) {
    animation-delay:0.1s;
}
.menu_plat2:nth-child(2) {
    animation-delay:0.4s;
}
.menu_plat3:nth-child(3) {
    animation-delay:0.7s;
}
.menu_plat4:nth-child(4) {
    animation-delay:0.9s;
}

.menu_plat1{
    opacity: 0;
    animation: affichage 0.8s both;
}
.menu_plat2{
    opacity: 0;
    animation: affichage 0.8s both;
}
.menu_plat3{
    opacity: 0 ;
    animation: affichage 0.8s both;
}
.menu_plat4{
    opacity: 0 ;
    animation: affichage 0.8s both;
}

// COEUR

@keyframes animationCoeur {
    0% {
      background-size: 100% 0%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
.restaurant__coeurPlein{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    padding: 0;
    -webkit-text-stroke:black 2px;
    -webkit-background-clip: text;
    color: transparent;
}

.restaurant__coeurPlein:hover{
    cursor: pointer;
    background: linear-gradient(#9356dc, #ff79da);
    background-size: 100% 100%;
    background-clip:content-box;
    -webkit-background-clip: text;
    background-position: bottom;
    background-repeat: no-repeat;
    -webkit-animation:ease-in-out  animationCoeur 0.4s;
    animation:ease-in-out animationCoeur 0.4s;
    -webkit-text-stroke:#F3F3F3 0.5px;
    transform: none;
    transition: none;
}