body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header #header__logoSite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header img {
  width: 11rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header #presentation {
  text-align: center;
  padding-top: 2rem;
}

.header #bouton__explorer {
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: 0;
  padding: 0.80rem 1.4rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 2rem;
  color: white;
  background-image: linear-gradient(174deg, #ff79da 18%, #9356dc 86%);
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px 1px #b1acac;
          box-shadow: 0px 2px 5px 1px #b1acac;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header #bouton__explorer:hover {
  -webkit-box-shadow: 0px 4px 8px 1px #696565;
          box-shadow: 0px 4px 8px 1px #696565;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-filter: brightness(108%);
          filter: brightness(108%);
}

#localisation {
  background: #F3F3F3;
  -webkit-box-shadow: 5px 12px 5px -10px #d2cccc inset;
          box-shadow: 5px 12px 5px -10px #d2cccc inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: large;
  font-weight: bolder;
  margin-bottom: 0;
}

#localisation #localisation__texte {
  margin-left: 1rem;
}

#presentation {
  background: #FAFAFA;
}

#presentation h1 {
  margin-top: 0rem;
  font-size: 1.6rem;
}

#presentation #sousTitre {
  font-size: 1.05rem;
  color: #666565;
}

.section_1 h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.fonctionnement {
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.fonctionnement .fonctionnement__block {
  background-color: #F6F6F6;
  height: 4.5rem;
  width: 90%;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 2px 5px 10px 0px #e4e0e0;
          box-shadow: 2px 5px 10px 0px #e4e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement .fonctionnement__block .fa-mobile-alt {
  margin-right: 1rem;
  margin-left: 1.5rem;
  color: #7e7e7e;
}

.fonctionnement .fonctionnement__block .fa-list-ul {
  margin-right: 1rem;
  color: #7e7e7e;
  margin-left: 1.5rem;
}

.fonctionnement .fonctionnement__block .fa-store {
  margin-right: 1rem;
  color: #7e7e7e;
  margin-left: 1.5rem;
}

.fonctionnement .fonctionnement__degustez {
  background: #f1e6fd;
}

.fonctionnement {
  counter-reset: compteListe;
}

.fonctionnement__block::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  left: 3%;
}

.article {
  background: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__titre {
  background: #F3F3F3;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  padding-left: 1rem;
}

.restaurant {
  background-color: #F3F3F3;
  min-width: 35%;
  max-width: 90%;
  height: 15rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 0px 12px 0px #d2cccc;
          box-shadow: 0px 0px 12px 0px #d2cccc;
  margin-bottom: 5%;
  position: relative;
}

.restaurant .restaurant__img {
  height: 11rem;
  width: 100%;
  margin: 0;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.restaurant .restaurant__badge {
  background-color: #99e2d0;
  color: #1b5849;
  position: relative;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  padding: 0.5rem;
}

.restaurant .restaurant__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant .restaurant__footer .restaurant__nom {
  margin-bottom: 0.5rem;
}

.restaurant .restaurant__footer .restaurant__lieu {
  margin-top: 0.5rem;
}

.restaurant .restaurant__footer .restaurant__coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  font-size: 1.6rem;
}

.restaurant .restaurant__footer .fa-heart::before {
  content: white;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.restaurant .restaurant__footer .fa-heart:hover::before {
  font-weight: bold;
  color: #9356dc;
  cursor: pointer;
}

.restaurant4 {
  margin-bottom: 4rem;
}

.footer {
  background-color: #353535;
  height: 13rem;
}

.footer #footer__logoSite {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 15rem;
  margin-left: 6%;
}

.footer img {
  width: 60%;
  margin-top: 0;
  padding-top: 2rem;
}

.footer .footer__liste {
  margin-left: 6%;
}

.footer .footer__lien {
  color: white;
  line-height: 1.5rem;
}

.footer .fa-utensils {
  margin-right: 1rem;
}

.footer .fa-hands-helping {
  margin-right: 0.5rem;
}
/*# sourceMappingURL=style.css.map */